html, body {
    height: 100%;
  }

  body {
    background-color: #fff;
    font-family: sans-serif;
    overflow: hidden;
  }

  h1 {
    font-weight: normal;
    font-size: 140%;
  }

  #blocklyDiv {
    float: right;
    height: 100%;
    width: 70%;
  }

  #sidebarDiv {
    float: left;
    height: 100%;
    width: 30%;
    background: whitesmoke;
  }